%pre
  :preserve
    Once upon a midnight dreary, while I websurf’d, weak and weary,
    Over many a strange and spurious website of ‘hot chicks galore,’
    While I clicked my fav’rite darling, suddenly there came a warning,
    And my heart was filled with mourning, mourning for my dear amour.
    ‘’Tis not possible,’ I muttered, ‘give me back my cheap hardcore!’ —
                    Quoth the Server, ‘<a href='http://plinko.net/board'>404</a>.’
