!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'UTF-8'}
    %title= item.title or settings.sitename
  %body
    %p
      %a{href: '/'}= settings.sitename
    = yield
    %p
      %a{href: 'about'} designed by chastell in Mazovia
